.footer{
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 95px;
    margin-top: 68px;

    @include ch-r;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: 32px;
}

.footer__contact{
    margin-right: 120px;
    margin-left: 80px;
    flex-shrink: 0;
    
    a{
        display: block;
        color: inherit;
        text-decoration: none;
        opacity: .6;
        transition: .2s ease;
        
        &:hover{
            opacity: 1;
        }
    }
    
    span{
        opacity: .6;
        transition: .2s ease;
        
        &:hover{
            opacity: .6;
        }
    }
}

.footer__contact-header{
    font-size: 19px;
    margin-bottom: 43px;
    
    @include ch-b;
}

.footer__contact-text{
    line-height: 25px;
    display: block;
    margin-bottom: 7px;
}

.footer__links{
    margin-top: 67px;
}

.footer__list{
    display: flex;
}

.footer__list-wrapper{
    //width: 30%;
    
    &:nth-child(1){
        width: 355px;
    }
    
    &:nth-child(2){
        width: 190px;
    }
}

.footer__list-item{
    list-style: square;
    margin-bottom: 7px;

    a{    
        color: $blackgrey;
        text-decoration: none;
        opacity: .6;
        transition: .2s ease;
        
        &:hover{
            opacity: 1;
        }
    }
}

.footer__social{
    margin-top: 80px;
    margin-right: 5px;
}

.footer__social-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 195px;
}

.footer__social-item{
    list-style: none;
    height: 45px;
    transform: scale(1.2);

    &:last-child{
        margin-bottom: 0;
    }
    
    a{
        font-size: 0;
        color: $blackgrey;
        display: block;
        opacity: 0.7;
        
        svg{
            width: 38px;
            height: 38px;
            margin-top: 5px;
        }
    }

    &:hover{
        a{
            transition: $anim;

            opacity: 1;
        }
    }
}

@media(max-width:1500px){
    .footer__newsletter{
        margin-left: 30px;
    }

    .footer__social{
        margin-left: auto;
    }

    .footer__contact{
        margin-right: 80px;
    }
}

@media(max-width:1400px){
    .footer__list-wrapper{
        &:nth-child(1){
            width: 240px;
        }

        &:nth-child(2){
            width: 130px;
        }

        &:nth-child(3){
            width: 130px;
        }
    }
    
    .footer__newsletter{
        margin-left: 0;
    }
}

@media(max-width:1250px){
    .footer__contact{
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media(max-width:1200px){
    .footer__list-wrapper{
        width: 100%;
        
         &:last-child{
            .footer__list-item{
                list-style: square;
            }
        }
    }
    
    .footer__list-wrapper:nth-child(2){
        width: 200px;
    }
    
    .footer__list{
        flex-wrap: wrap;
        margin-top: -32px;
    }
    
    .footer__contact{
        margin-top: -48px;
        margin-left: 80px;
        margin-right: 80px;
    }
}

@media(max-width:1150px){

    .footer{
        padding-bottom: 40px;
    }

    .footer__social{
        margin-top: 30px;
        margin-left: -2px;
    }

    .footer__social-list{
        width: auto;
        flex-direction: column;
    }

    .footer__social-item{
        margin-bottom: 5px;
    }
}

@media(max-width:1024px){
    .footer__logo{
        width: 170px;
        margin-top: 18px;
    }

    .footer__contact{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media(max-width:900px){
    .footer{
        padding-bottom: 30px;
        margin-top: 40px;
    }
    
    .footer__wrapper{
        flex-wrap: wrap;
    }
    
    .footer__list-wrapper{
        width: 50%;
        
        &:nth-child(n){
            width: 100%;
            //margin-right: 30px;
        }
        
        &:nth-child(2){
            width: 100%;
        }
    }
    
    .footer__links{
        margin-top: 40px;
        max-width: 220px;
    }
    
    .footer__list{
        width: 60%;
        max-width: 800px;
        margin-top: 0;
    }

    .footer__list-item{
        box-sizing: border-box;
    }
    
    .footer__contact{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -25px;
    }
    
    
    .footer__social{
        margin-top: 38px;
    }
    
    .footer__contact-header{
        margin-bottom: 23px;
    }
    
    .footer__social-item{
        margin-bottom: 2px;
        margin-top: 0;
        transform: scale(1);

        svg{
            margin-top: 0;
        }
    }
}

@media(max-width: 660px){
    .footer__contact{
        width: 100%;
        margin-top: 20px;
    }

    .footer__links{
        max-width: 400px;
        margin-top: 40px;
    }
}

@media(max-width: 425px){
    .footer{
        margin-top: 20px;
    }

    .footer__social-list{
        flex-direction: row;
    }

    .footer__logo{
        margin-left: 20px;
    }

    .footer__social{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
}